/* Body*/
body {
  background: #48D1CC;
  background: hsl(185, 75%, 39%);
  justify-content: center;
  font-family: "Kumbh Sans";
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.bg-pattern-top {
  position: fixed;
  bottom: 40%;
  right: 50%;
  z-index: -1;
}

.bg-pattern-bottom {
  position: fixed;
  top: 45%;
  left: 50%;
  z-index: -1;
}

/* Profile Card*/
.container-fluid {
  height: 370px;
  width: 350px;
  background: white;
  border-radius: 20px;
  margin-top: 10%;
}

.bg-card {
  border-radius: 20px 20px 0 0;
  width: 350px;
  position: relative;
  left: -12px;
}

.victor-image {
  position: relative;
  top: -47px;
  left: -7px;
  border-radius: 100%;
  border: 5px solid white;
  margin-right: auto;
  margin-left: 35%;
  margin-bottom: 0;
}

.name {
  position: relative;
  text-align: center;
  top: -20px;
  font-weight: 700;
  font-size: 16px;
  color: black;
  color: hsl(229, 23%, 23%);
}

span {
  font-weight: 400;
  color: gray;
  color: hsl(227, 10%, 46%);
}

.city {
  font-weight: 400;
  color: gray;
  color: hsl(227, 10%, 46%);
  font-size: 14px;
  position: relative;
  text-align: center;
  top: -35px;
}

hr {
  position: relative;
  top: -20px;
}

.info {
  display: flex;
  position: relative;
  justify-content: center;
  top: -25px;
}

.info-number {
  font-weight: 700;
  color: black;
  text-align: center;
  margin: 0 20px 0 20px;
}

.info-text {
  font-weight: 400;
  color: gray;
  color: hsl(0, 0%, 59%);
  text-align: center;
  font-size: 10px;
}

/*Attribution*/
.attribution {
  font-size: 11px;
  text-align: center;
  position:fixed;
  top:95%;
  left: 40%;
}

.attribution a {
  color: #4A69BB;
  color: hsl(228, 45%, 44%);
}
